body{
    background-color: #1F2833;
    /* background-color: #0B0C10; */
}

h1{
    /* color: #66FCF1; */
    color: #45A29E;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px 0px;
}


article{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(10vh); 
}

article h3{
    /* color: #45A29E; */
    color: #66FCF1;
}

.textytext{
    color: #C5C6C7;
    text-decoration: none;
}

.linktext{
    color: #C5C6C7;
    text-decoration: none;
}

.linktext:hover{
    color: #66FCF1;
}

footer{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(40vh);
}

footer h3{
    color: #45A29E;
}

