body{
    background-color: #1F2833;
    /* background-color: #0B0C10; */
}

h1{
    /* color: #66FCF1; */
    color: #45A29E;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px 0px;
    /*drop it down a bit*/
    transform: translateY(1.5vh);
}


article{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(10vh);
    /*margin on article*/
    max-width: 700px;
    padding: 15px;
    margin: auto;
    /* display: flex; */
}

article h3{
    /* color: #45A29E; */
    color: #66FCF1;
}

.textytext{
    color: #C5C6C7;
    text-decoration: none;
}

.linktext{
    color:  #66FCF1;
    text-decoration: none;
}

.linktext:hover{
    color: #45A29E;
}

footer{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(70vh);
    /* display: flex; */
}

footer h3{
    color: #45A29E;
}

