header{
    background-color: #45A29E;
    height: 2.75rem;
    padding: 0px 25px;
    line-height: 2.75rem;
    display: flex;
}

header > *{
    /*displays side by side*/
    /* display: inline-block; */
    display: flex
}

/*Everything about nav*/
nav{
    height: 100%;
    vertical-align: top;
    /* float: right; */
    display: flex; 
}
nav li{
    height: 100%;
    display: flex;
    position: relative;
    height: 100%;
    padding: 0px 10px;
    transition: all 350ms;
    list-style: none;
}

nav li a{
    color: #1F2833;
    text-decoration: none;
    /*override font size to be smaller in header*/
    font-size: 16px;
}

nav li:hover{
    background-color: #66FCF1;
    color: #1F2833;
}




